div.container.main-container {
  width: 1440px;
}

header#navbar {
  max-width: 1440px;
  width: 1410px;
}

footer.container {
  max-width: 1440px;
  width: 1410px;
}

#class-api-code .panel-heading {
  padding: 4px 7px;
}

#class-api-code .panel-heading .panel-title a {
  font-size: 14px;
  font-family: monospace;
  white-space: pre-wrap;
}

#class-api-code .panel-body .views-field {
  margin: 5px;
}

#class-api-code .api-code-intro {
  margin-bottom: 10px;
}

ul.nav-pills {
  margin-top: 15px;
  margin-bottom: 15px;
}


